<ul>
    <li class="menu__item">
        <a href="/">Página Inicial</a>
    </li>
    <li class="menu__item">
        <a href="pages/tobey-maguire/spider-man-01.html">Tobey Maguire</a>
    </li>
    <li class="menu__item menu__icon">
        <img src="assets/images/icons/spider.svg" alt="Ícone de aranha do Homem Aranha">
    </li>
    <li class="menu__item">
        <a href="pages/andrew-garfield/spider-man-01.html">Andrew Garfield</a>
    </li>
    <li class="menu__item">
        <a href="pages/tom-holland/spider-man-01.html">Tom Holland</a>
    </li>
</ul>