@import url('/assets/css/reset.css');
@import url('/assets/css/global.css');

body {
    background-color: var(--primary-color);
}

body::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url('/assets/images/spider-man-background.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    opacity: 0.2;
    transition: background-image 1s ease,
                opacity 1s ease;
}

.menu {
    position: relative;
    padding: 1rem 0;
    width: 100%;
    text-align: center;
}

.menu__item {
    position: relative;
    display: inline-block;
    text-transform: uppercase;
    margin: 0 1.25rem;
}

.menu__item:not(.menu__icon)::after {
    content: '';
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 100%;
    height: 2px;
    background: #FFF;
    transform: scaleX(0);
    transition: transform .5s ease;
}

.menu__item:not(.menu__icon):hover::after {
    transform: scaleX(1);
}

.menu__icon {
    width: 2.5rem;
    margin: 0 1.25rem;
    vertical-align: middle;
}

.container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    perspective: 4000px;
}

.cards-carousel {
    position: relative;
    display: flex;
    justify-content: center;
    margin-top: 5vh;
    width: 30vw;
    height: 100vh;
    transform-style: preserve-3d;
    transition: transform 1s ease;
}

.card {
    position: absolute;
    width: 100%;
    height: 70vh;
    border: 0.5rem solid #FFF;
    filter: brightness(0.75);
    transition: transform 1s ease,
                filter 1s ease;
}

.card:nth-child(1) {
    transform: rotateY(0) translateZ(45vw) scaleX(-1);
}

.card:nth-child(2) {
    transform: rotateY(120deg) translateZ(45vw) scaleX(-1);
}

.card:nth-child(3) {
    transform: rotateY(240deg) translateZ(45vw) scaleX(-1);
}

.card.card--active:nth-child(1) {
    transform: rotateY(0) translateZ(45vw) scaleX(1);
}

.card.card--active:nth-child(2) {
    transform: rotateY(120deg) translateZ(45vw) scaleX(1);
}

.card.card--active:nth-child(3) {
    transform: rotateY(240deg) translateZ(45vw) scaleX(1);
}

.card--active {
    filter: brightness(1);
}

.card__background {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 1;
    transition: opacity 1s ease;
}

.card__image {
    position: relative;
    width: 100%;
    height: 100%;
    object-fit: contain;
    transition: transform 1s ease;
}

.card__title {
    position: absolute;
    bottom: 0;
    width: 100%;
    font-size: 2rem;
    text-transform: uppercase;
    text-align: center;
    transition: bottom .5s ease;
}

.controller {
    position: absolute;
    bottom: 1.5rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.controller__button {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2.5rem;
    height: 2.5rem;
    border: 2px solid #FFF;
    border-radius: 50%;
    background-color: var(--primary-color);
    text-align: center;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    z-index: 1;
    transition: transform 0.3s ease,
                box-shadow 0.3s ease;
}

.controller__button:nth-child(2) {
    margin: 0 3.75rem;
}

.controller__button:hover {
    transform: scale(1.1);
}

.controller__button::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #FFF;
    border-radius: 50%;
    transform: scale(0);
    z-index: -1;
    transition: transform .5s ease;
}

.controller__button--active {
    color: var(--primary-color);
    border: 3px solid var(--primary-color);
    box-shadow: 0 0 0 2px  #FFF;
}

.controller__button--active::before {
    transform: scale(1);
}

.controller__line {
    position: absolute;
    background-color: #FFF;
    width: 50%;
    height: 2px;
}

/* Hover Animation */
.card:hover .card__background {
    cursor: pointer;
    opacity: 0;
}

.card:hover .card__image {
    transform: scale(1.3);
    filter: drop-shadow(30px 10px 4px rgba(0, 0, 0, .5));
}

.card:hover#spider-man-03 .card__image {
    transform: scale(1.15);
}

body#spider-man-01-hovered::before {
    content: '';
    background-image: url('/assets/images/pic-sm-bg-01_1920x1080.jpg');
}

body#spider-man-02-hovered::before {
    content: '';
    background-image: url('/assets/images/pic-sm-bg-02_1920x1080.jpg');
}

body#spider-man-03-hovered::before {
    content: '';
    background-image: url('/assets/images/pic-sm-bg-03_1920x1080.jpg');
}

body[id^="spider-man-"]::before {
    opacity: 1;
}

body[id^="spider-man-"] .card:not(:hover) {
    filter: grayscale(100%);
}

.card:hover .card__title {
    bottom: 50%;
}