@import url('/assets/css/reset.css');
@import url('/assets/css/global.css');
@import url('/assets/css/components/navigator.css');

.container {
    display: flex;
    height: 100vh;
    flex-flow: row nowrap;
}

.container .left-column {
    width: 100px;
    height: 100%;
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container .main-content {
    width: 100%;
    height: 100%;
    background-color: gray;
    padding-left: 30px;
}